header {
    max-width: 90%;
    margin-top: 1%;
}

.cart {
    float: right;
    width: 3%;
    height: auto;
}

.responsive {

    width: 50%;
    height: auto;
    float: left;
}

.utility {

    text-align: right;
    font-family: arial black, sans-serif;
    font-size: 1vw;
    color: ivory;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

#mobilenav {
    display: none;
}

nav {

    margin-top: 1%;
    background-color: grey;
    width: 100%;
}

ul {
    
    padding: .2% 0%;
    margin: 0% 0% 0% 5%;
    list-style-type: none;
    
}

li {

    font-family: arial black, sans-serif;
    font-size: 1vw;
    color: ivory;
    display: inline;
    margin: 0% 2%;
}

body {

    background-color: black;
    max-width: 90%;
    margin: auto;
}

.bikes {

    width: 50%;
    height: auto;
    float: left;
    padding-right: 15px;
}

#intro {

    text-align: justify;
    font-size: larger;
}

.white {

    color: white;
    font-family: arial black, sans-serif;
}

@media only screen and (max-width: 600px) {

header {
    max-width: 100%;
}

.responsive {

    width: 100%;
    height: auto;
}

.utility {

    text-align: left;
    font-family: arial black, sans-serif;
    font-size: 4vw;
    color: ivory;
    padding-bottom: 0%;
    margin: 7% 0% 0% 0%;

}

.cart {
    float: clear;
    width: 8vw;
    height: auto;
    margin-top: 1%;
}

nav {

    display: none;
}

#mobilenav, ul {

    display: block;
    margin-left: 30px;

}

.smaller {

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 60vw;
    height: auto;
}


}